# git ignore file of meinside@gmail.com on OSX
# last update: 2018.11.27.

# binary files
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.class

# temporary/cache/history files & dirs
*.swp
*~.nib
.bash_sessions/
.cache/
.lldb/
.local/
.rncache/
default.profraw
dive.log
tmp/

# other scm files/dirs
.svn
.cvs

# macOS files/dirs
.DS_Store
.Trash/
.CFUserTextEncoding
.crash_*
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/

# X11 files/dirs
.Xauthority
.fontconfig/

# ruby
.gem
.rvm
.bundle
.bundler

# node.js
.babel.json
.config/configstore
.node-gyp
.npm
node_modules/
npm-debug.log

# java
.gradle/

# golang
.gore/

# haskell
.cabal/
.ghc/
.ghc-mod/
.stack/

# python
.pip/
.virtualenvs/

# swift
.swiftenv/

# dart
.dart/
.dartServer/
.pub-cache/
.stagehand

# xcode files
.cocoapods/
xcuserdata

# src dirs
srcs
public_html/

# private/config files & dirs
.android/
.boot2docker/
.config/
.custom_aliases
.custom_paths
.davmail.properties
.dockercfg
.eclrc
.gist-vim
.gitconfig
.gnupg
.gtmx.json
.srcclr/
.ssh/
.wget-hsts
.zcompdump-*
.zsh-update
mbox

# history files
.*history
.dbshell
.psql_history*

# other applications' files & dirs
.AndroidStudio*/
.cups/
.dlv/
.docker/
.dropbox/
.dropbox-master/
.eclipse/
.ethash/
.flutter
.Genymobile/
.heroku/
.hoogle/
.httpie/
.ipfs/
.itmstransporter/
.julia/
.keras/
.lein/
.lesshst
.lnav/
.m2/
.matplotlib/
.netrc
.ngrok2/
.oh-my-zsh/
.oracle_jre_usage/
.putty/
.subversion/
.swift-version
.vim/
.viminfo
.vscode/
.RData
.rnd
.rstudio-desktop/
.w3m/
.wireshark-etc/
.wireshark/
.htoprc
BitTorrent Sync/
Dropbox/
Google Drive/
Limelight/
VirtualBox VMs/
Blizzard/
pprof/

# personal data
.emulator_console_auth_token
.homebrew_analytics_user_uuid
.wakeup
.sleep
bin/
files/

