# git ignore file of meinside@gmail.com on OSX
# last update: 13.07.03.

# binary files
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.class

# swap files
*.swp
*~.nib

# xcode files
build/*
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

# scm files
.svn
.cvs

# OSX files/dirs
.DS_Store
.Trash
.CFUserTextEncoding
.crash_*
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Sites

# X11 files/dirs
.Xauthority
.fontconfig/

# ruby
.gem
.rvm
.bundler/
.irb-history
.irb_history

# node.js
.npm
node_modules

# other src dirs
srcs
ruby
node
rails
public_html

# private files
.gitconfig
.other_aliases
.conf/*.yml
.gist-vim

# other files/dirs
Dropbox
Google Drive
.android/
.bash_history
.bashrc
.cache/
.cups/
.dropbox/
.dvdcss/
.eclipse/
.filezilla/
.gdb_history
.heroku
.itmstransporter/
.lesshst
.m2/
.mplayer/
.mysql_history
.netrc
.org.eclipse.epp.usagedata.recording.userId
.putty/
.sqlite_history
.ssh
.subversion
.vim
.viminfo
.RData
.Rhistory
.rstudio-desktop
.wireshark-etc/
.wireshark/

# temporary files/dirs
tmp/

