# git ignore file of meinside@gmail.com on OSX
# last update: 2015.12.04.

# binary files
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.class

# temporary/history files & dirs
*.swp
*~.nib
.bash_sessions/
.cache/
tmp/

# other scm files/dirs
.svn
.cvs

# OSX files/dirs
.DS_Store
.Trash/
.CFUserTextEncoding
.crash_*
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/

# X11 files/dirs
.Xauthority
.fontconfig/

# ruby
.gem
.rvm
.bundle
.bundler

# node.js
.config/configstore
.node-gyp
.npm
node_modules/

# java
.gradle/

# golang
.gore/

# atom editor
.atom/.apm/
.atom/packages/
.atom/storage/
.atom/compile-cache/

# xcode files
.cocoapods/
xcuserdata

# src dirs
srcs
public_html/

# private/config files & dirs
.android/
.boot2docker/
.custom_aliases
.dockercfg
.gist-vim
.gitconfig
.gnupg
.gtmx.json
.ssh/
.zcompdump-*
.zsh-update
mbox

# history files
.*history
.dbshell

# other applications' files & dirs
.AndroidStudio*/
.cups/
.docker/
.dropbox/
.dropbox-master/
.eclipse/
.Genymobile/
.heroku/
.httpie/
.ipfs/
.lesshst
.lnav/
.netrc
.ngrok2/
.oh-my-zsh/
.oracle_jre_usage/
.putty/
.subversion/
.vim/
.viminfo
.RData
.rnd
.rstudio-desktop/
.w3m/
.wireshark-etc/
.wireshark/
.htoprc
Dropbox/
Google Drive/
BitTorrent Sync/
VirtualBox VMs/

