"*":
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "*.swp"
    ]
    audioBeep: false
    projectHome: "/Users/meinside"
    followSymlinks: true
  editor:
    invisibles:
      {}
    showIndentGuide: true
    showInvisibles: true
    fontSize: 12
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "exception-reporting":
    userId: "7ce93fa8-eb56-a4e6-0cf0-6f63cc84673d"
  metrics:
    userId: "4ff51923f5a2a48138457ec727e02802cd3139eb"
  linter:
    {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "go-plus":
    goPath: "~/srcs/go"
  "linter-rubocop":
    rubocopExecutablePath: "/Users/meinside/.rvm/gems/ruby-2.2.2/bin/rubocop"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "flex-tool-bar":
    {}
  "tool-bar":
    position: "Left"
    iconSize: "16px"
  "atom-fuzzy-grep":
    grepCommandString: "grep -r -n --color=never"
  "atom-beautify":
    {}
"exception-reporting":
  userId: "9b9eca66-2609-20d8-6473-fdbb1cdc3a1b"
welcome:
  showOnStartup: false
metrics:
  userId: "4ff51923f5a2a48138457ec727e02802cd3139eb"
