"*":
  "atom-beautify":
    _analyticsUserId: "34605c2b-fc27-4bdb-a15c-a76397a428b8"
  "atom-fuzzy-grep":
    grepCommandString: "grep -r -n --color=never"
  "atom-terminal":
    app: "/Users/meinside/Applications/iTerm.app"
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  core:
    audioBeep: false
    followSymlinks: true
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "*.swp"
    ]
    projectHome: "/Users/meinside"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "7ce93fa8-eb56-a4e6-0cf0-6f63cc84673d"
  "flex-tool-bar": {}
  "git-history": {}
  "go-plus":
    formatTool: "gofmt"
    goPath: "~/srcs/go"
  linter: {}
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "4ff51923f5a2a48138457ec727e02802cd3139eb"
  minimap:
    plugins:
      bookmarks: true
      "find-and-replace": true
      "git-diff": true
  react: {}
  "toggle-quotes": {}
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
"exception-reporting":
  userId: "9b9eca66-2609-20d8-6473-fdbb1cdc3a1b"
metrics:
  userId: "4ff51923f5a2a48138457ec727e02802cd3139eb"
welcome:
  showOnStartup: false
