/*
 * My Atom stylesheet
 *
 * last update: 2017.01.11.
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

.tree-view .entry.directory.status-modified > .header,
.tree-view .entry.file.status-modified {
  color: #FB9B20;
}

.tree-view .entry.directory.status-added > .header,
.tree-view .entry.file.status-added {
  color: #36C767;
}

.tree-view .entry.directory.status-ignored > .header,
.tree-view .entry.file.status-ignored {
  color: #555555;
}

atom-text-editor {

}

atom-text-editor.editor .syntax--cursor {

}

atom-text-editor.editor .syntax--markup.syntax--underline.syntax--link.syntax--hyperlink {
  color: #F9EE98;
  text-decoration: underline;
}

atom-text-editor.editor .syntax--git-commit.syntax--line-too-long.syntax--deprecated {
  color: orange;
  text-decoration: none;
}

atom-text-editor.editor .syntax--git-commit.syntax--line-too-long.syntax--illegal {
  color: #fff;
  background: #DA2C43;
  opacity: 0.9;
}
